In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kaitangata,NZ,2022-11-12 20:50:45,-46.2817,169.8464,59.81,49,86,3.18
1,1,Torbay,CA,2022-11-12 20:50:45,47.6666,-52.7314,43.29,98,100,23.02
2,2,Cape Town,ZA,2022-11-12 20:48:01,-33.9258,18.4232,63.88,90,75,5.75
3,3,Rikitea,PF,2022-11-12 20:49:15,-23.1203,-134.9692,74.01,86,65,18.72
4,4,Svetlogorsk,BY,2022-11-12 20:50:46,52.6333,29.7333,49.05,87,85,12.30

In [4]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Puerto Ayora,EC,2022-11-12 20:50:46,-0.7393,-90.3518,76.96,74,31,5.01
14,14,Inhambane,MZ,2022-11-12 20:50:50,-23.8650,35.3833,77.45,85,9,9.46
19,19,Buala,SB,2022-11-12 20:50:52,-8.1450,159.5921,81.57,77,100,4.85
24,24,Tiarei,PF,2022-11-12 20:50:54,-17.5333,-149.3333,78.82,80,100,15.01
28,28,Bathsheba,BB,2022-11-12 20:50:56,13.2167,-59.5167,86.61,70,40,10.36
31,31,Atuona,PF,2022-11-12 20:50:57,-9.8000,-139.0333,77.95,77,2,15.55
37,37,Butaritari,KI,2022-11-12 20:50:59,3.0707,172.7902,79.75,76,100,14.88
40,40,Acapulco,MX,2022-11-12 20:49:20,16.8634,-99.8901,83.73,71,28,5.55
48,48,Banjar,ID,2022-11-12 20:52:04,-8.1900,114.9675,77.36,84,100,3.36
61,61,Vaini,TO,2022-11-12 20:52:10,-21.2000,-175.2000,77.43,86,87,20.92

In [12]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
5   Puerto Ayora      EC     76.96  -0.7393  -90.3518
14     Inhambane      MZ     77.45 -23.8650   35.3833
19         Buala      SB     81.57  -8.1450  159.5921
24        Tiarei      PF     78.82 -17.5333 -149.3333
28     Bathsheba      BB     86.61  13.2167  -59.5167
31        Atuona      PF     77.95  -9.8000 -139.0333
37    Butaritari      KI     79.75   3.0707  172.7902
40      Acapulco      MX     83.73  16.8634  -99.8901
48        Banjar      ID     77.36  -8.1900  114.9675
61         Vaini      TO     77.43 -21.2000 -175.2000

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Inhambane,MZ,77.45,-23.8650,35.3833,Oceano
19,Buala,SB,81.57,-8.1450,159.5921,Maringe Lagoon Lodge
24,Tiarei,PF,78.82,-17.5333,-149.3333,Le Rocher de Tahiti
28,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
...,...,...,...,...,...,...
557,Aguada De Pasajeros,CU,84.76,22.3850,-80.8508,CASA MAMÁ
558,Tesistan,MX,83.44,20.7833,-103.4833,Hotel Hacienda La Magdalena
560,Assare,BR,84.38,-6.8744,-39.8750,José Xavier de Andrade
566,Cabo San Lucas,MX,84.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
567,Luz,BR,76.39,-19.8014,-45.6856,Hotel Turista

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Puerto Ayora,EC,76.96,-0.7393,-90.3518,Finch Bay Galapagos Hotel
14,Inhambane,MZ,77.45,-23.8650,35.3833,Oceano
19,Buala,SB,81.57,-8.1450,159.5921,Maringe Lagoon Lodge
24,Tiarei,PF,78.82,-17.5333,-149.3333,Le Rocher de Tahiti
28,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
31,Atuona,PF,77.95,-9.8000,-139.0333,Villa Enata
37,Butaritari,KI,79.75,3.0707,172.7902,Isles Sunset Lodge
40,Acapulco,MX,83.73,16.8634,-99.8901,HS Hotsson Smart Acapulco
48,Banjar,ID,77.36,-8.1900,114.9675,The Hamsa Resort
61,Vaini,TO,77.43,-21.2000,-175.2000,Keleti Beach Resort

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
# Add marker_layer
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# add a pop-up marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))